* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

:root {
    /*****************************
    * COLORS
    ******************************/
    /* Purple
    *>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
    --purple-900: #7f00b2;
    --purple-700: #8e22bb;
    --purple-500: #ab49cc;
    --purple-100: #e5acf8;

    /* Blue
    *>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
    --blue-400: #1e91ed;
    --blue-300: #4ca1f5;

    /* Gray
    *>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
    --gray-700: #474747;
    --gray-500: #636363;

    /*****************************
    * PATTERNS
    ******************************/
    /* Pattern 1
    *>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
    --background-1: var(--purple-500);
    --color-1: white;
    --background-card-1: white;
    --color-card-1: var(--gray-700);
    --background-button-1: var(--blue-400);
    --color-button-1: white;
}

.logo {
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
}

.header {
    display: flex;
    align-items: center;
    padding: 32px 16px;
    background: var(--background-1);
    color: var(--color-1);
    /* text-align: center; */
}

.title_container {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
    justify-content: center;
}

main {
    background: var(--purple-100);
    padding: 32px 16px;
}

.footer {
    padding: 32px 16px;
    text-align: center;
    background: var(--background-1);
    color: var(--color-1);
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

button {
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

    background: var(--background-button-1);
    color: var(--color-button-1);
}

.float_button {
    position: fixed;
    bottom: 5vh;
    right: 10vw;
}


/**********************************
* CARD
***********************************/
.card_comment {
    position: relative;
    padding: 16px;
    border-radius: 8px;
    max-width: 80vw;
    background: var(--background-card-1);
    color: var(--color-card-1);
    width: 100%;
    max-width: 580px;
    -webkit-box-shadow: 0px 7px 14px -7px #000000; 
    box-shadow: 0px 7px 14px -7px #000000;
}

.card_content {
    display: flex;
    flex-direction: column;
}

.card_username {
    font-size: 0.75rem;
    margin-bottom: 8px;
}

.card_metadata {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    font-size: 0.75rem;
    justify-content: flex-end;
}

.card_datetime {
    display: flex;
    gap: 8px;
}

/***********************************
* MODAL
************************************/
.modal {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%;
    max-width: 480px;
    padding: 0 16px;
}


.modal_overlay {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: #00000070;
    backdrop-filter: blur(1px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal_content {
    position: relative;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    z-index: 1;

    background-color: var(--background-card-1);
}

.modal input,
.modal textarea {
    border: none;
    width: 100%;
    padding: 8px 16px;
    border-radius: 8px;

    outline: 1px solid var(--background-1);
}

.modal textarea {
    resize: none;
    width: 100%;
}

/********************************
* MOBILE AND TABLET
*********************************/
@media (max-width: 1100px) {
    .float_button {
        display: block;
        margin: 32px auto 0;
        position: inherit;
    }
}